.event-detail{
    background-color: #1d2127;
    width: 55vw;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 35vw;
    padding: 35px 50px 50px;
    position: absolute;
}
.host-detail{
    background-color: #1d2127;
    width: 20vw;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 10vw;
    padding: 35px 40px 40px;
    position: absolute;
}   
.join-btn{
    background-color: rgb(27, 126, 255);
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    padding: 10px 10px 10px;
    transition: all .3s ease-in-out background-color;
}
.join-btn:hover{
    background-color: rgb(97, 171, 255);
}
.report-btn{
    display: block;
    background-color: rgb(255, 55, 55);
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    margin-top: 20px;
    padding: 10px 10px 10px;
    transition: all .3s ease-in-out background-color;
}
.report-btn:hover{
    background-color: rgb(255, 98, 98);
}