.event-detail{
    background-color: #1d2127;
    width: 55vw;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 35vw;
    padding: 35px 50px 50px;
    position: absolute;
}
.host-detail{
    background-color: #1d2127;
    width: 20vw;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 10vw;
    padding: 35px 40px 40px;
    position: absolute;
}   
.join-btn{
    background-color: darkgrey;
    color: black;
    width: 200px;
    margin-top: 20px;
    padding: 10px 10px 10px;
}
.report-btn{
    background-color: red;
    color: white;
    width: 200px;
    margin-top: 20px;
    padding: 10px 10px 10px;
}