* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginPage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.App-skeleton-bg {
  background-color: #1d2127;
  width: 60vw;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px 50px 50px; /* Top Right Buttom Left */
  left: 0;
  right: 0;
}

.App-skeleton-bga {
  margin-top: 55px;
  border: none;
  display: inline;
  color: white;
  margin-left: 61em;
  position: absolute;
}

.App-skeleton-bga:hover {
  cursor: pointer;
}

.App-skeleton-createpost {
  color: #fff;
  font-size: 50px;
  position: static;
  display: flex;
  justify-content: start;
}

.App-skeleton-ground {
  border: none;
  background-color: #282c34;
  min-height: calc(100vh - 80px);
  padding-top: 50px;
  padding-top: 30px;
}

.App-skeleton-textareadesc {
  font-family: "PT Sans", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  overflow: hidden;
  background-color: rgba(57, 63, 84, 0.8);
  color: #bfd2ff;
  font-size: 1.2rem;
  height: 200px;
  width: 25vw;
  resize: none;
  outline: none;
}

.events {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
  background-color: #282c34;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px 20px 20px;
  flex-direction: column;
  align-content: space-between;
}
